<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


   <div class="container home-signup-links">
      <div class="row">
        <div class="header-box">
          <h1 class="text-upper"> <img src="/assets/staff_meeting.jpg";> Business communication training</h1>  
        </div>
           <p class="paragraph-upper"> Hone your business writing and presentation skills.</p>
      </div>
    </div>
    
      <div class="button">
          <%= link_to "Explore Our Offerings", offerings_url, class: 'btn btn-primary btn-lg btn-block' %>
          
            <p>  </p>
    </div>


    
<div class="container lower-page">
   <div class="col-md-3">
        <a href="<%= pages_public_speaking_path %>"><h1 class="lower-heading"> Public Speaking</h1></a>
        <p class="lower-paragraph">80% of what you say is through your body language.</p>
    </div>
    
  <div class="row lower-page-content">
    <div class="col-md-3">
         <a href="<%= business_writing_path %>"><h1 class="lower-heading"> Business Writing</h1></a>
        <p class="lower-paragraph"> Learn the do's and don'ts of communicating.</p>
    </div>
    
    <div class="col-md-3">
      <a href="<%= editing_path %>"><h1 class="lower-heading"> Interviewing</h1></a>
      <p class="lower-paragraph">Learn how to sell yourself during an interview.</p>
    </div>

    <div class="col-md-3">
      <a href="<%= group_dynamics_path %>"><h1 class="lower-heading"> Group Dynamics</h1></a>
      <p class="lower-paragraph">90% of employers indicate they want their employees to demonstrate group competency.</p>
    </div>
  </div>
</div>

